body {
    font-family: "Montserrat", sans-serif;
    font-weight: 450;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 112px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.top-left {
    padding-left: 266px;
    font-size: 16px;
    font-weight: 450;
    letter-spacing: -1px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 267px;
}

.menu a {
    margin: 0 0 0 24px;
    text-decoration: none;
    color: #cacaca;
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.menu a:hover {
    color: black;
}

#sign-up-banner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1600px;
    height: 715px;
    background-image: url('./images/lawyer.jpg');
    background-color: #cccccc;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: top;
    position: relative;
}

.sign-up-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #1b3b5b;
    width: 374px;
    height: 432px;
    color: white;
    margin-left: 266px;
}

.sign-up-box * {
    margin: 0 40px;
}

.eyebrow {
    font-size: 15px;
    font-weight: 450;
    line-height: 0.45;
    margin-top: 54px;
    margin-bottom: -10px;
}

.sign-up-box h1 {
    font-size: 38px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -2px;
    margin-bottom: 19px;
}

.sign-up-box p {
    color: #f5de4e;
    font-family: "Open Sans", sans-serif;
    font-style: italic;
    font-size: 13px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 25px;
}

.sign-up-box form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 289px;
    margin-top: 0;
}

.sign-up-box form input {
    width: 100%;
    height: 50px;
    margin-left: 0;
    margin-bottom: 25px;
    border: none;
    border-radius: 0;
}

.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5de4e;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    letter-spacing: 1px;
    width: 157px;
    height: 43px;
    margin-left: 0;
    border: none;
}

#features {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 412px;
}

.features-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1068px;
    height: 100%;
}

.amazing-feature {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 316px;
    margin-top: 141px;
}

.amazing-feature h3 {
    font-size: 16px;
    font-weight: 450;
    letter-spacing: -1px;
    line-height: 0.5;
    margin-top: 0;
    margin-bottom: 24px;
}

.amazing-feature p {
    color: #858585;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.6;
    margin-top: 0;
}

#cite-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 366px;
    background-color: #f4f4f4;
}

#cite-banner h2 {
    font-size: 19px;
    font-weight: 450;
    margin-bottom: 0;
}

#cite-banner p {
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    color: #808080;
    margin-top: 14px;
}

#cite-banner span {
    font-weight: 700;
    color: black;
}

#pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 850px;
}

.pricing-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: sticky;
}

.pricing-background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/glasses.png');
    background-color: #d2d2d2;
    background-blend-mode: overlay;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

.pricing-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 1068px;
    height: 100%;
    position: relative;
    z-index: 1;
}

.pricing-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 100px;
}

.pricing-title h2 {
    margin: 0;
    font-size: 19px;
    font-weight: 450;
}

.pricing-title p {
    color: #808080;
    font-size: 16px;
}

.pricing-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.pricing-plan-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    background-color: #f8f8f8;
    width: 328px;
    height: 524px;
    isolation: isolate;
}

.horizontal-line {
    background: repeating-linear-gradient(0deg, rgba(229, 229, 229, 1) 0 1px, #f8f8f8 1px 15px);
}

.vertical-line {
    background: repeating-linear-gradient(90deg, rgba(229, 229, 229, 1) 0 1px, transparent 1px 15px);
}

.diagonal-line-1 {
    background: repeating-linear-gradient(45deg, rgba(229, 229, 229, 1) 0 1px, transparent 1px 15px);
}

.diagonal-line-2 {
    background: repeating-linear-gradient(-45deg, rgba(229, 229, 229, 1) 0 1px, transparent 1px 15px);
}

.plan-title {
    font-size: 16px;
    font-weight: 450;
    letter-spacing: -1px;
    margin-top: 65px;
    margin-bottom: 0;
}

.plan-features {
    list-style-type: none;
    text-align: center;
    font-size: 13px;
    line-height: 2.5;
    padding-left: 0;
    margin-top: 32px;
    margin-bottom: 0;
}

.plan-price {
    width: 96px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    line-height: 1;
    margin-top: 25px;
}

.plan-button {
    z-index: 2;
    mix-blend-mode: normal;
    background-color: #1b3b5b;
    opacity: 1;
    color: white;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
    width: 140px;
    height: 56px;
    margin-top: 14px;
    border: none;
}

#try-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 480px;
    background: linear-gradient(
        rgba(57, 85, 110, 0.8),
        rgba(24, 49, 74, 0.8)
    ), url('./images/notebook.jpg');/*
    background-image: url('./images/notebook.jpg');
    background-color: #39566d;
    background-blend-mode: multiply;*/
    background-size: cover;
    background-position: center;
    position: relative;
}

.try-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
}

.try-container h1 {
    width: 423px;
    text-align: center;
    font-size: 25px;
    font-weight: 450;
    letter-spacing: -1px;
    line-height: 1;
    margin-top: 176px;
    margin-bottom: 16px;
}

.try-container p {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 35px;
}

.try-button {
    background-color: #f5de4e;
    color: black;
    font-family: "Montserrat", sans-serif;
    font-size: 13px;
    font-weight: 450;
    width: 176px;
    height: 40px;
    border: none;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 293px;
    background-color: #1f252f;
    color: white;
}

footer h3 {
    width: 83px;
    font-size: 13px;
    font-weight: 450;
    margin-top: 92px;
    margin-bottom: 13px;
}

footer p {
    width: 421px;
    color: #cecece;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 40px;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 350px;
}

.social-icons img {
    width: 32px;
}